<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950492618280-q0cguosct71njprhuor23tqmtso4dmf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950492618280-q0cguosct71njprhuor23tqmtso4dmf6</string>
	<key>API_KEY</key>
	<string>AIzaSyC45Hroafle8G6kaCh6jbi3vOY3nhLh7w4</string>
	<key>GCM_SENDER_ID</key>
	<string>950492618280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pingpong.co</string>
	<key>PROJECT_ID</key>
	<string>pingpong-1691584763456</string>
	<key>STORAGE_BUCKET</key>
	<string>pingpong-1691584763456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950492618280:ios:0e4153a6a0294d36db5f1d</string>
</dict>
</plist>